.locale-switcher-button {
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  color: var(--foreground-primary);
}

.locale-switcher-button:hover {
  color: var(--constant-accent);
}

.locale-switcher-button__text {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
}

.locale-switcher-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}

.locale-switcher-button--opened .locale-switcher-button__icon {
  transform: rotate(0);
}
