{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "node": true
  },
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "error"
  }
}
