.email-modal {
  background: var(--constant-black);
  color: var(--constant-white);
  padding: 16px;
  position: relative;
}

.email-modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.email-modal__link {
  color: var(--constant-accent);
}

.email-modal__text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.email-modal__input {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  background: var(--constant-white);
  color: var(--constant-black);
  border-radius: 4px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.email-modal__input::placeholder {
  color: var(--constant-grey2);
}

.email-modal__input:focus {
  box-shadow: 0 0 0 1px var(--constant-accent);
}

.email-modal__close {
  float: right;
  cursor: pointer;
}

.email-modal__close-img {
  display: block;
}

@media all and (min-width: 1024px) {
  .email-modal {
    width: 522px;
    padding: 16px 28px 28px;
  }

  .email-modal__form {
    display: flex;
  }

  .email-modal__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 16px;
  }

  .email-modal__text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 24px;
  }

  .email-modal__input {
    width: auto;
    margin-right: 16px;
    margin-bottom: 0;
  }
}
