.footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 22px 0;
    min-width: var(--container-width);
}

.footer__navigation {
    align-items: center;
}

.footer__navigation .navigation__logo {
    grid-column: span 2;
}

.footer__navigation .navigation__list {
    grid-column: 3/12;
}

.footer__navigation .navigation__link {
    color: var(--color-white);
}

.footer__navigation .navigation__link:hover {
    color: var(--color-accent);
}

.footer__navigation .navigation__link--active {
    color: var(--color-accent);
}

.footer__last-column {
    font-size: 24px;
    margin-top: 47px;
}

.footer__about {
    grid-column: span 5;
}

.footer__link {
    color: var(--color-accent);
    font-weight: 700;
    text-decoration: underline;
}

.footer__copyright {
    color: var(--color-grey);
    grid-column: 12/-1;
}