.header {
    margin: 40px 0;
}

.navigation__logo {
    grid-column: span 4;
}

.navigation__image {
    width: 90%;
}

.navigation__list {
    grid-column: 5/-1;
    display: flex;
    gap: 60px;
}

.navigation__link {
    font-size: 24px;
    color: var(--color-primary);
    font-weight: 900;
    text-transform: uppercase;
}

.navigation__link:hover {
    color: var(--color-accent);
}

.navigation__link--active {
    color: var(--color-accent);
}
