body {
    font-family: 'Rubik', sans-serif;
    background-color: #EBEBEB;
    font-size: 22px;
    font-weight: 400;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, var(--grid-column-width));
    gap: var(--grid-gap);
}

.container {
    max-width: var(--container-width);
    padding: 0 20px;
    margin: 0 auto;
}