:root {
    --color-primary: #262A2F;
    --color-accent: #FF5533;
    --color-grey: #868686;
    --color-white: #FFFFFF;

    --container-width: 1440px;
    --grid-column-width: 98px;
    --grid-gap: 20px;
}