.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--constant-black-alpha64);
  display: flex;
}

.modal-wrapper__children {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.modal-wrapper--alignY-center {
  align-items: center;
}

.modal-wrapper--alignX-center {
  justify-content: center;
}

@media all and (min-width: 1024px) {
  .modal-wrapper__children {
    padding-left: 0;
    padding-right: 0;
  }
}
