<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="#fff" />
        <meta name="color-scheme" content="light dark" />
        <link rel="manifest" href="<%= require('./manifest.webmanifest') %>" />
        <link rel="icon" type="image/svg+xml" href="<%= require('../images/icon.svg') %>" />
        <link rel="apple-touch-icon" href="<%= require('../images/icon_192.png') %>" />
        <link
            rel="preload"
            as="style"
            href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preconnect" href="https://frontend.karpovcourses.net" crossorigin />
        <link rel="preconnect" href="https://storage.yandexcloud.net" />
        <title>KC News</title>
    </head>
    <body>
        <div id="root"></div>
        <div id="overlay"></div>
    </body>
</html>
