.footer {
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--constant-black);
  color: var(--constant-white);
}

.footer .logo {
  margin-bottom: 24px;
}

.footer__top {
  padding-bottom: 24px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--constant-white-alpha12);
}

.footer__link {
  color: var(--constant-accent);
  text-decoration: underline;
}

.footer__link:hover {
  opacity: 0.8;
}

@media all and (min-width: 1024px) {
  .footer {
    margin-top: 64px;
    padding-top: 24px;
    padding-bottom: 80px;
  }

  .footer .logo {
    margin-bottom: 0;
  }

  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .footer__bottom {
    font-size: 16px;
  }
}
