.header {
  background: var(--background-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 76px;
}

.header__navigation {
  margin-left: 24px;
}

.header__controls {
  margin-left: auto;
}

.footer {
  margin-top: 64px;
  padding-top: 24px;
  padding-bottom: 80px;
  background-color: var(--constant-black);
  color: var(--constant-white);
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--constant-white-alpha12);
  margin-bottom: 28px;
}

.footer__bottom {
  font-size: 16px;
}

.footer__link {
  color: var(--constant-accent);
  text-decoration: underline;
}

.footer__link:hover {
  opacity: 0.8;
}
