:root {
  --constant-black: #262a2f;
  --constant-accent: #0083fc;
  --constant-grey: #a3a3a3;
  --constant-white: #fff;
  --container-width: 940px;
  --container-padding: 20px;
  --grid-column-width: 60px;
  --grid-gap: 20px;
  --background-zero: var(--constant-white);
  --background-primary: var(--constant-white);
  --foreground-primary: var(--constant-black);
}

[scheme="dark"] {
  --background-zero: #131517;
  --background-primary: var(--constant-black);
  --foreground-primary: var(--constant-white);

  color-scheme: dark;
}

html,
body,
#root,
.wrapper {
  height: 100vh;
}

*:not(svg *) {
  all: unset;
  display: revert;
}

body {
  font-family: Rubik, sans-serif;
  background-color: var(--background-zero);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--foreground-primary);
  min-width: calc(var(--container-width) + 2 * var(--container-padding));
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, var(--grid-column-width));
  gap: var(--grid-gap);
}

.article-img {
  background: #ccc;
  display: block;
  width: 100%;
  object-fit: cover;
}
