.sidebar-article-card {
  display: block;
  cursor: pointer;
}

.sidebar-article-card:hover {
  color: var(--color-accent);
}

.sidebar-article-card__media {
  position: relative;
  height: 150px;
}

.sidebar-article-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sidebar-article-card__date {
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--background-zero);
  padding: 6px 12px;
  font-weight: 500;
}

.sidebar-article-card__title {
  margin: 12px 0 8px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sidebar-article-card__source {
  color: var(--color-grey2);
}
